<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <link rel="icon" href="icon.png">
  <title>点数增量重制版</title>

  <script src="scripts/technical/vue.js" defer></script>
  <script src="scripts/technical/ExpantaNum.js" defer></script>
  <script src="scripts/technical/format-expantanum.js" defer></script>
  <script src="scripts/technical/pako.js" defer></script>
  <script src="scripts/technical/hotkeys.js" defer></script>
  <script src="scripts/display.js" defer></script>
  <script src="scripts/temp.js" defer></script>
  <script src="scripts/script.js" defer></script>
  <script src="scripts/sqrt.js" defer></script>
  <script src="scripts/square.js" defer></script>
  <script src="scripts/pmp.js" defer></script>
  <script src="scripts/others.js" defer></script>
  <script src="scripts/offline.js" defer></script>
  <script src="scripts/newsticker.js" defer></script>
  <script src="scripts/challenges.js" defer></script>
  <script src="scripts/hotkey.js" defer></script>
  <script src="scripts/components.js" defer></script>
  <script src="scripts/achievements.js" defer></script>
  <script src="scripts/changelog.js" defer></script>
  <script src="scripts/save.js" defer></script>
</head>

<body>
  <div align="center">
    <div id="notify" class="hide"></div>
  </div>
  <div id="app" align="center">
    <div id="loader-overlay" v-if="!hasLoaded.status">
      <div class="loader-text" align="center">游戏加载中......<br><span style='font-size: 18px'>这可能需要一些时间</span><br><noscript>本游戏无法运行于无javacript的环境下！</noscript></div>
    </div>
    <div>
      <newsticker v-if="player.options.showNewsTicker"></newsticker>
      <div class="popup" v-if="app.isShowingPopup == 1">请输入存档<br><input v-model="save" placeholder="在此处键入存档"><br><button @click="importFromApp()" class="btn">导入</button></div>
      <div class="popup" v-if="app.isShowingPopup == 2">输入想要更改的上限<br><input v-model="limitBuy" placeholder="在此处键入单次购买上限"><br>是否开启上限：<input id="isSetCappedDim" type="checkbox" v-model="player.isSetCappedDim"><br><button @click="openPopup(0)" class="btn">关闭</button></div>
      <div v-html="getPointDisplay()"></div>
      <div v-if="isEndgame()" :style="{color: getUndulatingColor()}">已到达当前版本终点！</div>
      <div>{{ getPointGain() }}</div>
      <div v-if="player.timeSpeed != 1">当前全局游戏速度：×{{ format(player.timeSpeed) }}</div>
      <div style="color: yellow" v-if="player.square.unl">你有{{ player.square.points.format(0) }}点数<sup>2</sup>，因此√点数复制速度×{{ tmp.square.effect.format() }}</div>
      <main-line></main-line>
      <div>
        <button @click="switchpage(1)" class="btn" :disabled="tabshow.main.inTab">主要</button>
        <button @click="switchpage(5)" class="btn" :disabled="tabshow.resets.inTab" v-if="tabshow.resets.unlocked">重置</button>
        <button @click="switchpage(7)" class="square" :disabled="tabshow.square.inTab" v-if="tabshow.square.unlocked">平方</button>
        <button @click="switchpage(6)" class="btn" :disabled="tabshow.stats.inTab">统计</button>
        <button @click="switchpage(2)" class="btn" :disabled="tabshow.others.inTab">杂项</button>
      </div>
      <main-line v-if="tabshow.showTheSecondLine"></main-line>
      <div>
        <button @click="switchpage(1)" class="btn" v-if="tabshow.main.dimensions.unlocked" :disabled="tabshow.main.dimensions.inTab">维度</button>
        <button @click="switchpage(4)" class="btn" v-if="tabshow.main.sqrt.unlocked" :disabled="tabshow.main.sqrt.inTab">√点数</button>
        <button @click="switchpage(11)" class="btn" v-if="tabshow.main.offline.unlocked" :disabled="tabshow.main.offline.inTab">离线</button>
        <button @click="switchpage(2)" class="btn" v-if="tabshow.others.options.unlocked" :disabled="tabshow.others.options.inTab">选项</button>
        <button @click="switchpage(3)" class="btn" v-if="tabshow.others.about.unlocked" :disabled="tabshow.others.about.inTab">关于</button>
        <button @click="switchpage(7)" class="square" v-if="tabshow.square.upgrades.unlocked" :disabled="tabshow.square.upgrades.inTab">升级</button>
        <button @click="switchpage(8)" class="square" v-if="tabshow.square.challenges.unlocked" :disabled="tabshow.square.challenges.inTab">挑战</button>
        <button @click="switchpage(9)" class="square" v-if="tabshow.square.pmp.unlocked" :disabled="tabshow.square.pmp.inTab">点数×点数</button>
        <button @click="switchpage(6)" class="btn" :disabled="tabshow.stats.stats.inTab" v-if="tabshow.stats.stats.unlocked">统计</button>
        <button @click="switchpage(10)" class="btn" v-if="tabshow.stats.achievement.unlocked" :disabled="tabshow.stats.achievement.inTab">成就</button>
        <main-line></main-line>
      </div>
      <div v-if="player.currentPage == 1">
        <button @click="buyall()" class="btn" @touchstart="isHoldMax = true" @touchend="isHoldMax = false">购买最大</button>
        <button @click="openPopup(2)" class="btn" v-if="player.square.chals.includes(2)">更改每次购买上限</button>
        <template>
          <div v-for="dim in dimensions" :key="dim.id">
            <span v-if="tmp.hasSuperScalDim(dim.id)" style="color:red">超级折算</span><span>{{ dim.label }}</span>
            <span>{{ formatWhole(player.dims[dim.id][5]) }}</span>
            <span>×{{ format(player.dims[dim.id][2]) }}</span>
            <button class="btn" @click="buydim(dim.id)" v-if="player.sqrt.galaxies.lt(1)" :disabled="player.points.lt(player.dims[dim.id][1])">{{ getDimCostDisplay(dim.id) }}</button>
            <button class="btn" @click="buyMaxDim(dim.id)">{{ getMaxBtnText(dim.id) }}</button>
            <button class="btn" @click="changeAuto(dim.id)" v-if="player.canautodim">自动：{{ getDimAutoText(dim.id) }}</button>
          </div>
        </template>
      </div>
      <div v-if="player.currentPage == 2">
        <button class="btn" @click="formatted_hard_reset()">硬重置</button>
        <button class="btn" @click="export_copy()">导出</button>
        <button class="btn" @click="export_file()">导出为文件</button>
        <button class="btn" @click="import_save()">导入</button>
        <button class="btn" @click="import_file()">以文件导入</button>
        <br><br>
        <button class="btn" @click="changeNewsTickerShown()">{{ newsTickerShownButtonText() }}</button>
        <button class="btn" @click="changeHotkey()">{{ hotkeyShownButtonText() }}</button>
      </div>
      <div v-if="player.currentPage == 3">
        <span v-html="formatEndgame()"></span><br>
        <span style="color: red">{{ getHotkeyText() }}</span><br>
        当前版本：v{{ changelog[0].version }}<br>
        游戏作者：<sup>0100000a7</sup> & EdenGameMaster<br>
        本游戏使用了<a href="https://github.com/Naruyoko/ExpantaNum.js" target="_blank">ExpantaNum.js</a>
        <a href="https://github.com/cloudytheconqueror/letter-notation-format" target="_blank">format-expantanum.js</a>来处理大数字<br>
        使用了<a href="https://github.com/nodeca/pako" target="_blank">pako.js</a>来处理存档<br>
        <rainbow><i>点击可查看被遮挡的剧透内容</i></rainbow>
        <h1>更新日志</h1>
        <changelog></changelog>
      </div>
      <div v-if="player.currentPage == 4">
        <div class="sqrt_text">你有<span :class="getSqrtPClass()">{{ player.sqrt.points.format() }}</span>√点数<span v-if="player.sqrt.unl">(+{{ format(tmp.sqrt.replicatePerTick.log10().mul(30)) }}数量级/s)</span>，因此所有维度乘数×{{ format(tmp.sqrt.dim_eff) }}</div>
        <div class="sqrt_text" v-if="!player.sqrt.unl">达到1.000e80点数后，你的√点数将开始自我复制!</div><br>
        <button class="btn" @click="toggleAutoGal()" v-if="hasSqUpg(7)">自动：{{ getAutoGalStatus() }}</button>
        <div class="sqrt_text">√星系({{ formatWhole(player.sqrt.galaxies) }})</div>
        <button class="galaxyReset" @click="galaxy()" v-html="getGalButtonText()"></button>
        <div v-if="player.sqrt.unl">同时，你的√点数和星系还使购买10个的倍率+{{ tmp.sqrt.galaxyEffect.format(3) }}</div>
        <div style="color: red" v-if="tmp.sqrt.isSofted">在1.000e100√点数后，√点数复制速度将受到{{ tmp.sqrt.isCapped ? '硬' : '软' }}上限限制!</div>
        <div style="color: rgb(214, 0, 0)" v-if="tmp.sqrt.isSofted2">在1.000e400√点数后，√点数复制速度将受到二重软上限限制!</div>
      </div>
      <div v-if="player.currentPage == 5">
        <button class="square" @click="square()">重置之前的所有内容，但获取{{ tmp.square.gain.format(0) }}点数<sup>2</sup><br>要求：1.000e785点数</button>
        <button class="cube" @click="" v-if="hasSqUpg(15)">重置之前的所有内容，但获取{{ tmp.cube.gainNorm.format(0) }}点数<sup>3</sup>, <br>要求：1.00e1,729点数<sup>2</sup></button>
      </div>
      <div v-if="player.currentPage == 6">
        你总共制造了{{ formatWhole(player.total) }}点数<br>
        {{ get_pts_volume(player.points) }}<br><br>
        <div v-if="player.square.unl" style="color: yellow">
          <h2>点数<sup>2</sup></h2>
          你总共拥有{{ player.square.total.format(0) }}点数<sup>2</sup>
        </div>
      </div>
      <div v-if="player.currentPage == 7">
        <div class="upg_text_box"><span v-html="get_sq_upg_text()"></span></div><br>
        <template>
          <div>
            <table>
              <tr v-for="row in sq_upgs" key="row.id">
                <td v-for="upg in sq_upgs[row.id]" key="upg.id">
                  <div :class="getSqUpgClassName(upg.id)" @touchstart="hover_upg = upg.id" @touchend="hover_upg = 0" @mouseover="hover_upg = upg.id" @mouseleave="hover_upg = 0" @click="buySqUpg(upg.id)" v-if="app.squpgs2[upg.id-1].unlocked"><span>{{ upg.id }}</span></div>
                </td>
              </tr>
            </table>
          </div>
        </template>
      </div>
      <div v-if="player.currentPage == 8">
        <template v-for="chal in sq_chal">
          <button :class="getSqChalClassName(chal.id)" v-if="sq_chal[chal.id-1].unlocked" :key="chal.id" @click="handleChalButtonClick(chal.id)">
            <b>C{{ chal.id }}</b>
          </button>
        </template><br><br>
        <div v-if="window.choosed_chal != 0" v-html="get_sq_chal_text()"></div>
      </div>
      <div v-if="player.currentPage == 9">
        <span style="font-size: 14px">注意，购买后将直接清空资源，而不是减去!</span>
        <main-line></main-line>
        <div class="sky">你有{{ player.pmp.fromsquare.format(0) }}+{{ player.pmp.frompoints.format(0) }}<span v-if="hasSqUpg(13)">×2</span>+{{ player.pmp.fromsqrt.format(0) }}={{ tmp.pmp.totalpts.format(0) }}点数×点数，它们每秒生产{{ tmp.pmp.tPgain.format() }}超越点数<br>
        你有{{ player.pmp.transPoint.format() }}超越点数，√点数二重软上限效果变为{{ tmp.pmp.tPeff.format() }}次方根</div>
        <table>
          <tr>
            <td style="text-align: center;">因式分解</td>
            <td style="text-align: center;">同底相乘</td>
            <td style="text-align: center;">四次乘方</td>
          </tr>
          <tr>
            <td><button class="square tooltipBox" @click="buyPMP(1)"><div class="tooltip">对你的点数<sup>2</sup>进行因式分解以获取1点数×点数</div>获取1点数×点数<br>要求：{{ tmp.pmp.squareCost.format() }}点数<sup>2</sup></button></td>
            <td><button class="btn tooltipBox" @click="buyPMP(2)"><div class="tooltip">对你的点数进行同底相乘以获取1点数×点数</div>获取1点数×点数<br>要求：{{ tmp.pmp.pointCost.format() }}点数</button></td>
            <td><button class="btn tooltipBox" @click="buyPMP(3)"><div class="tooltip">对你的√点数进行四次乘方以获取1点数×点数</div>获取1点数×点数<br>要求：{{ tmp.pmp.sqrtCost.format() }}√点数</button></td>
          </tr>
        </table>
        <main-line></main-line>
        你有{{ player.pmp.transCrystal.format(0) }}<span v-if="tmp.pmp.spentCrystal.gt(0)">-{{ tmp.pmp.spentCrystal.format(0) }}={{ tmp.pmp.realCrystal.format(0) }}</span>个超越之晶(下一个在{{ tmp.pmp.tCrysNextGoal.format() }}超越点数)<br>
        <button @click="respecCrysBab()" class="btn">重新分配，但进行一次无奖励的平方重置</button>
        <table>
          <td><button class="btn sky" @click="buyCrysBab(1)">({{ player.pmp.buyables[1].format(0) }})超越点数获取公式底数+2<br>价格：1超越之晶</button></td>
          <td><button class="btn sky" @click="buyCrysBab(2)">({{ player.pmp.buyables[2].format(0) }})点数<sup>2</sup>获取指数+0.1<br>价格：1超越之晶</button></td>
          <td><button class="btn sky" @click="buyCrysBab(3)">({{ player.pmp.buyables[3].format(0) }})√星系价格^0.9<br>价格：1超越之晶</button></td>
        </table>
      </div>
      <div v-if="player.currentPage == 10">
        你完成了{{ player.achievements.length }}/{{ totalachievements }}个成就，这使你的维度乘数×{{ tmp.achievementsEffDim.format() }}
        <achievements></achievements>
      </div>
      <div v-if="player.currentPage == 11">
        <span style="color: #aaa">你离线了{{ formatTime.fromSeconds(player.offlinedTime) }}<br>
        游戏{{ player.isOffline? "已" : "未" }}暂停</span><br>
        <span style="font-size: 14px;color: #aaa">当游戏处于暂停状态时，你将获取离线时间</span><br>
        <span style="font-size: 14px;color: #aaa">基于当前时间超频的速度，离线时间的消耗将在{{ formatTime.fromSeconds((2**player.offlinePower-1) / 30) }}以下停止</span><br>
        <i style="font-size: 12px; animation: warn 10s linear infinite">警告⚠️：如果您从未来“穿越”了回来，将强行暂停此游戏</i><br>
        <button class="btn" @click="switchGameState">切换游戏运行状态</button>
        <main-line></main-line>
        <h3>时间超频</h3><br>
        <input type="range" min="0" max="7" step="0.001" style="width: 300px" v-model.number="player.offlinePower"><br>
        当时间超频激活时，游戏速度将被加快至原来的{{ format(2**player.offlinePower) }}倍，但代价是离线时间每秒减少{{ format(2**player.offlinePower-1) }}秒<br>
        <button class="btn" @click="switchTimeOverpower">{{ player.timeOverpower? "关闭" : "激活" }}时间超频</button>
      </div>
    </div>
  </div>
</body>
</html>