<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <link rel="icon" href="icon.png">

  <script src="scripts/technical/vue.js" defer></script>
  <script src="scripts/technical/ExpantaNum.js" defer></script>
  <script src="scripts/technical/format-expantanum.js" defer></script>
  <script src="scripts/technical/pako.js" defer></script>
  <script src="scripts/technical/hotkeys.js" defer></script>
  <script src="scripts/display.js" defer></script>
  <script src="scripts/temp.js" defer></script>
  <script src="scripts/script.js" defer></script>
  <script src="scripts/sqrt.js" defer></script>
  <script src="scripts/square.js" defer></script>
  <script src="scripts/others.js" defer></script>
  <script src="scripts/newsticker.js" defer></script>
  <script src="scripts/challenges.js" defer></script>
  <script src="scripts/hotkey.js" defer></script>
  <script src="scripts/components.js" defer></script>
  <script src="scripts/save.js" defer></script>
  <script src="scripts/changelog.js" defer></script>
</head>

<body>
  <div align="center">
    <div id="notify" class="hide"></div>
  </div>
  <div id="app" align="center">
    <title>点数增量重制版 - {{ player.points.format() }}点数</title>
    <div id="loader-overlay" v-if="!hasLoaded.status">
      <div class="loader-text" align="center">游戏加载中......<br><span style='font-size: 18px'>这可能需要一些时间</span><br><noscript>本游戏无法运行于无javacript的环境下！</noscript></div>
    </div>
    <div>
      <newsticker v-if="player.options.showNewsTicker"></newsticker>
      <div class="popup" v-if="app.isShowingPopup == 1">请输入存档<br><input v-model="save" placeholder="在此处键入存档"><br><button @click="importFromApp()" class="btn">导入</button></div>
      <div class="popup" v-if="app.isShowingPopup == 2">输入想要更改的上限<br><input v-model="limitBuy" placeholder="在此处键入单次购买上限"><br>是否开启上限：<input id="isSetCappedDim" type="checkbox" v-model="player.isSetCappedDim"><br><button @click="openPopup(0)" class="btn">关闭</button></div>
      <div v-html="getPointDisplay()"></div>
      <div v-if="isEndgame()" :style="{color: getUndulatingColor()}">已到达当前版本终点！</div>
      <div>{{ getPointGain() }}</div>
      <div style="color: yellow" v-if="player.square.unl">你有{{ player.square.points.format(0) }}点数<sup>2</sup>，因此√点数复制速度×{{ tmp.square.effect.format() }}</div>
      <main-line></main-line>
      <div>
        <button @click="switchpage(1)" class="btn" :disabled="tabshow.main.inTab">主要</button>
        <button @click="switchpage(5)" class="btn" :disabled="tabshow.resets.inTab" v-if="tabshow.resets.unlocked">重置</button>
        <button @click="switchpage(7)" class="square" :disabled="tabshow.square.inTab" v-if="tabshow.square.unlocked">平方</button>
        <button @click="switchpage(6)" class="btn" :disabled="tabshow.stats.inTab">统计</button>
        <button @click="switchpage(2)" class="btn" :disabled="tabshow.others.inTab">杂项</button>
      </div>
      <main-line v-if="tabshow.showTheSecondLine"></main-line>
      <div>
        <button @click="switchpage(1)" class="btn" v-if="tabshow.main.dimensions.unlocked" :disabled="tabshow.main.dimensions.inTab">维度</button>
        <button @click="switchpage(4)" class="btn" v-if="tabshow.main.sqrt.unlocked" :disabled="tabshow.main.sqrt.inTab">√点数</button>
        <button @click="switchpage(2)" class="btn" v-if="tabshow.others.options.unlocked" :disabled="tabshow.others.options.inTab">选项</button>
        <button @click="switchpage(3)" class="btn" v-if="tabshow.others.about.unlocked" :disabled="tabshow.others.about.inTab">关于</button>
        <button @click="switchpage(7)" class="square" v-if="tabshow.square.upgrades.unlocked" :disabled="tabshow.square.upgrades.inTab">升级</button>
        <button @click="switchpage(8)" class="square" v-if="tabshow.square.challenges.unlocked" :disabled="tabshow.square.challenges.inTab">挑战</button>
        <button @click="switchpage(9)" class="square" v-if="tabshow.square.pmp.unlocked" :disabled="tabshow.square.pmp.inTab">点数×点数</button>
        <main-line></main-line>
      </div>
      <div v-if="player.currentPage == 1">
        <button @click="buyall()" class="btn" @touchstart="isHoldMax = true" @touchend="isHoldMax = false">购买最大</button>
        <button @click="openPopup(2)" class="btn" v-if="player.square.chals.includes(2)">更改每次购买上限</button>
        <template>
          <div v-for="dim in dimensions" :key="dim.id">
            <span v-if="tmp.hasSuperScalDim(dim.id)" style="color:red">超级折算</span><span>{{ dim.label }}</span>
            <span>{{ formatWhole(player.dims[dim.id][5]) }}</span>
            <span>×{{ format(player.dims[dim.id][2]) }}</span>
            <button class="btn" @click="buydim(dim.id)" v-if="player.sqrt.galaxies.lt(1)" :disabled="player.points.lt(player.dims[dim.id][1])">{{ getDimCostDisplay(dim.id) }}</button>
            <button class="btn" @click="buyMaxDim(dim.id)">{{ getMaxBtnText(dim.id) }}</button>
            <button class="btn" @click="changeAuto(dim.id)" v-if="player.canautodim">自动：{{ getDimAutoText(dim.id) }}</button>
          </div>
        </template>
      </div>
      <div v-if="player.currentPage == 2">
        <button class="btn" @click="formatted_hard_reset()">硬重置</button>
        <button class="btn" @click="export_copy()">导出</button>
        <button class="btn" @click="export_file()">导出为文件</button>
        <button class="btn" @click="import_save()">导入</button>
        <button class="btn" @click="import_file()">以文件导入</button>
        <br><br>
        <button class="btn" @click="changeNewsTickerShown()">{{ newsTickerShownButtonText() }}</button>
        <button class="btn" @click="changeHotkey()">{{ hotkeyShownButtonText() }}</button>
      </div>
      <div v-if="player.currentPage == 3">
        <span v-html="formatEndgame()"></span><br>
        <span style="color: red">{{ getHotkeyText() }}</span><br>
        当前版本：v0.2.6.3<br>
        游戏作者：<sup>0100000a7</sup><br>
        本游戏使用了<a href="https://github.com/Naruyoko/ExpantaNum.js" target="_blank">ExpantaNum.js</a>
        <a href="https://github.com/cloudytheconqueror/letter-notation-format" target="_blank">format-expantanum.js</a>来处理大数字<br>
        使用了<a href="https://github.com/nodeca/pako" target="_blank">pako.js</a>来处理存档<br>
        <h1>更新日志</h1>
        <changelog></changelog>
      </div>
      <div v-if="player.currentPage == 4">
        <div class="sqrt_text">你有<span :class="getSqrtPClass()">{{ player.sqrt.points.format() }}</span>√点数<span v-if="player.sqrt.unl">(+{{ format(tmp.sqrt.replicatePerTick.log10().mul(30)) }}数量级/s)</span>，因此所有维度乘数×{{ format(tmp.sqrt.dim_eff) }}</div>
        <div class="sqrt_text" v-if="!player.sqrt.unl">达到1.000e80点数后，你的√点数将开始自我复制!</div><br>
        <button class="btn" @click="toggleAutoGal()" v-if="hasSqUpg(7)">自动：{{ getAutoGalStatus() }}</button>
        <div class="sqrt_text">√星系({{ formatWhole(player.sqrt.galaxies) }})</div>
        <button class="galaxyReset" @click="galaxy()" @touchstart="isHoldGal = true" @touchend="isHoldGal = false">获得一个星系<br>但重置之前的一切<br><span v-html="getGalRewardText()"></span><br>要求：{{ format(tmp.sqrt.galCost) }} √点数</button>
        <div>同时，你的√点数和星系还使购买10个的倍率+{{ tmp.sqrt.galaxyEffect.format(3) }}</div>
        <div style="color: red" v-if="tmp.sqrt.isSofted">在1.000e100√点数后，√点数复制速度将受到{{ tmp.sqrt.isCapped ? '硬' : '软' }}上限限制!</div>
        <div style="color: rgb(121, 0, 0)" v-if="tmp.sqrt.isSofted2">在1.000e400√点数后，√点数复制速度将受到二重软上限限制!</div>
      </div>
      <div v-if="player.currentPage == 5">
        <button class="square" @click="square()" @touchstart="isHoldSquare = true" @touchend="isHoldSquare = false">重置之前的所有内容，但获取{{ tmp.square.gain.format(0) }}</span>点数<sup>2</sup><br>要求：1.000e785点数</button>
      </div>
      <div v-if="player.currentPage == 6">
        你总共制造了{{ formatWhole(player.total) }}点数<br>
        {{ get_pts_volume(player.points) }}<br><br>
        <div v-if="player.square.unl" style="color: yellow">
          <h2>点数<sup>2</sup></h2>
          你总共拥有{{ player.square.total.format(0) }}点数<sup>2</sup>
        </div>
      </div>
      <div v-if="player.currentPage == 7">
        <div class="upg_text_box"><span v-html="get_sq_upg_text()"></span></div><br>
        <template>
          <div>
            <table>
              <tr v-for="row in sq_upgs" key="row.id">
                <td v-for="upg in sq_upgs[row.id]" key="upg.id">
                  <div :class="getSqUpgClassName(upg.id)" @touchstart="hover_upg = upg.id" @touchend="hover_upg = 0" @mouseover="hover_upg = upg.id" @mouseleave="hover_upg = 0" @click="buySqUpg(upg.id)" v-if="app.squpgs2[upg.id-1].unlocked"><span>{{ upg.id }}</span></div>
                </td>
              </tr>
            </table>
          </div>
        </template>
      </div>
      <div v-if="player.currentPage == 8">
        <template v-for="chal in sq_chal">
          <button :class="getSqChalClassName(chal.id)" v-if="sq_chal[chal.id-1].unlocked" :key="chal.id" @click="handleChalButtonClick(chal.id)">
            C{{ chal.id }}
          </button>
        </template><br><br>
        <div v-if="window.choosed_chal != 0" v-html="get_sq_chal_text()"></div>
      </div>
      <div v-if="player.currentPage == 9">
        <table>
          <tr>
            <td style="text-align: center;">因式分解</td>
          </tr>
          <tr>
            <td><button class="square">对你的点数<sup>2</sup>进行因式分解以获取1点数×点数<br>要求：</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
</html>